<div class="field">
  <%= label_tag :name %>
  <div class="value"><%= @user.name %></div>
</div>
<div class="field">
  <%= label_tag :email %>
  <div class="value"><%= @user.email %></div>
</div>
<div class="field">
  <%= label_tag :high_score %>
  <div class="value"><%= @user.high_score %></div>
</div>
<div class="field">
  <%= label_tag :high_level %>
  <div class="value"><%= @user.high_level %></div>
</div>
<div class="field">
  <%= label_tag :role %>
  <div class="value">
    <%= @user.role.name %>
  </div>
</div>

<h2>Show stats for world:</h2>

<% if !@worlds.empty? %>
  <ul class="item-list-small">
  <% @worlds.each do |world| %>
    <li><%= link_to world.name, stats_world_user_path(:user_id => @user.id, :id => world.id) %></li>
  <% end %>
  </ul>
<% else %>
  <div> no world available.</div>
<% end %>

<%= link_to "delete this user >>", user_path, :method => :delete, :class => "margin-top action-link", :confirm => "Are you sure you want to delete this user?" %>
<%= link_to "edit this user >>", edit_user_path, :class => "margin-top-small action-link" %>
<%= link_to "back >>", users_path, :class => "margin-top-small action-link" %>
